.main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 3rem;
    padding: 6rem;
    min-height: 100vh;
    width: var(--max-width);

    font-family: var(--fonts);
}

.neuron_peak h1 {
    font-family: "Archivo", sans-serif;
    font-size: 3.5rem;
}

.neuron_peak p {
    font-family: "Archivo", sans-serif;
    letter-spacing: 0.18rem;
    font-size: 1rem;
}

.title {
    margin: 45px;
}

.contact {
}

.email {
    font-family: "Archivo", sans-serif;
    font-size: 1.5rem;
}
