.theme_toggle {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.theme_toggle input[type="checkbox"] {
    display: none;
}

.theme_toggle .toggle_label {
    color: -var(--text-color);
    padding: 0.5rem;
    font-size: 1rem;
}

.theme_toggle .toggle_icon {
    width: 2rem;
    height: 1.2rem;
    z-index: 1;
    background-color: var(--light-toggle-bg-color);
    border-radius: 0.6rem;
    position: relative;
}

.theme_toggle .toggle_icon:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0.1rem;
    right: 0.1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--light-toggle-icon-color);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.theme_toggle input[type="checkbox"]:checked + .toggle_icon:before {
    transform: translateX(-0.8rem);
}
